h1{
    font-style: bold;
    color: #fcbd01;
    margin-top: -30px;
  }
h2 {
    color: #fbde77;
    margin-top: -30px;
    font-size: 45px;
}

h3 {
  color: #fbde77;
  margin-top: -30px;
  font-size: 45px;
}
